/* header */

.nav-bar-container ul {
  display: inline;
  list-style: none;
}
.nav-bar-container li {
  padding-right: 5em;
  padding-top: 1em;
  float: right;
  position: relative;
}
.nav-bar-container li::before {
  width: 16px;
  height: 16px;
  content: " ";
  background-image: url(/img/nav-bar-ul-img.jpg);
  position: absolute;
  left: -20px;
  top: 20px;
}
.nav-bar-container a {
  color: black;
  text-decoration-style: none;
}
.nav-menu-image {
  padding-left: 5em;
  width: 5em;
  box-sizing: content-box;
}
.nav-bar-container {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(100, 100, 190);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-text-area {
  text-align: center;
}
.header-text-h1 {
  padding: 2em 0;
}
.header-text-p {
  text-align: justify;
  padding: 0 6em;
}
/* main */
main {
  padding: 3em 1em;
}

.col img {
  width: 100%;
  height: 10em;
}
.main-relative-element {
  position: relative;
}
.main-absolute-element {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  background-color: red;
}
.main-article-headline {
  text-align: left;
  font-size: 1.5em;
}
/* footer */
.footer-navbar img {
  padding-left: 5em;
  width: 2.5em;
  height: 2.5em;
  box-sizing: content-box;
}
.footer-navbar ul {
  display: inline;
  list-style: none;
}
.footer-navbar li {
  float: right;
  padding-left: 5em;
}
.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer-disclaimer {
  width: 100%;
  text-align: center;
  background-color: darkslategray;
  margin: 0;
}
